/* CSS PAG LOGIN */
html,
body {
  height: 100vh;

  background-image: url("https://i.imgur.com/aeidEH1.jpg");
  background-repeat: repeat;
}
.grecaptcha-badge {
  display: none !important;
}
.login-card {
  width: 80%;
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
}

.card-container {
  height: 100vh;
}
.small-column {
  width: 70px; /* Regola questa larghezza secondo le tue necessità */
}

.cardProdotti {
  width: 96%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}

.formCheckordini {
  font-size: 13px;
}

.truncated-text {
  white-space: nowrap; /* Impedisce al testo di andare a capo */
  overflow: hidden; /* Nasconde il testo che eccede i limiti del contenitore */
  text-overflow: ellipsis; /* Aggiunge "..." alla fine del testo troncato */
  max-width: 100%; /* Limita la larghezza del contenitore per il testo */
}

.logo {
  width: 30%;
  margin: 0 auto;
}

/* BackToTopButton.css */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.back-to-top:hover {
  opacity: 1;
}

/** login card **/

/* --------------------CSS CARD REGISTER/LOGIN------------------- */
.bg-section {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 8px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo-login {
  width: 40%;
}
.btn-primary.btnLR {
  --bs-btn-border-color: none;
}

.btn:hover.btnLR {
  background-color: unset;
}

.card-container1 {
  width: 80%;
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  perspective: 1000px;
  margin-top: 2rem;
}

.cardLR {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-face,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

.card-front {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

.card-back {
  transform: rotateY(180deg);
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
.card-container1.clicked .cardLR {
  transform: rotateY(180deg);
}

/* --------------------CSS CARD REGISTER/LOGIN------------------- */
.password-input-group {
  position: relative;
}
.password-icon {
  position: absolute;
  top: 59%;
  right: 4%;
}

.password-icon2 {
  position: absolute;
  top: 63%;
  right: 4%;
}

/* .password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .form-control {
  padding-right: 2.5rem;
}

.password-icon2 {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}
.password-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}  */

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(13, 110, 253, 1);
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

/*-----------------------*/
.unShow {
  pointer-events: none;
  opacity: 0.5;

  filter: grayscale(100%);
  cursor: not-allowed;
}

/*-----------------------*/
.sizeCardconto {
  font-size: 12px !important;
}
.fontWeightCard {
  font-weight: 900 !important;
}
