/* CSS PAG LOGIN */
html,
body {
  height: 100vh;

  background-image: url("https://i.imgur.com/aeidEH1.jpg");
  background-repeat: repeat;
}
.login-card {
  width: 310px;
}

.card-container {
  height: 100vh;
}
.small-column {
  width: 80px; /* Regola questa larghezza secondo le tue necessità */
}
